@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* outline: 1px solid red; */
}

body {
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #ffffff,
    #d9d9d9
  );
  font-size: 1.6rem;
  
}