.shopping-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  color: #eee;
  transition: all 0.2s ease-in-out;

}

.shopping-list-item:hover {
  background-color: #00000030;
  color: #333;
  backdrop-filter: blur(5px);
  transition: all 0.2s ease-in-out;
}

.shopping-list-item.marked {
  background-color: #00000070;
  color: #333;
  backdrop-filter: blur(5px);
}

#shopping-card img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border: 2px solid #2d5e23;
  border-radius: 50%;
  margin-right: 1rem;
  transition: all 0.2s ease-in-out;
}

#shopping-card:hover img,
#shopping-card.shopping-list-item.marked img {
  border: 2px solid #2cff02;
}

#shopping-list-text {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;  
}

.shopping-list-item h1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ddd;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.shopping-list-item.marked h1 {
  width: 100%;
  text-decoration: 2px line-through;
  text-decoration-color: #2cff02;
}

#shopping-list-btns {
  display: flex;
  align-items: center;
}

#shopping-list-btns button {
  border: none;
  background-color: transparent;
  color: #b8b8b8;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 0.5rem;
  transition: all 0.05s ease-in-out;
}

#done:hover {
  color: #ffffff;
}

#remove:hover {
  color: #ff0000;
}

#shopping-list-btns span {
  font-size: 1.4rem;
  font-weight: 300;
  color: #b8b8b8;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}